In [1]:
import pandas as pd

In [10]:
df_airlines = pd.read_csv('airlines.csv')
df_airports = pd.read_csv('airline_prices.csv')

In [11]:
df_airports.drop(["2023 Passenger Rank", "Average_Fare", "Inflation_Average_Fare(2023)"], axis=1, inplace=True)

In [15]:
# airports = df_airports.to_dict('records')
df_airports

,Airport_Code,Airport_Name,City_Name,State_Name
0,LAX,Los Angeles International,Los Angeles,CA
1,ORD,Chicago O'Hare International,Chicago-O'Hare,IL
2,DEN,Denver International,Denver,CO
3,ATL,Hartsfield-Jackson Atlanta International,Atlanta,GA
4,EWR,Newark Liberty International,Newark,NJ
...,...,...,...,...
426,SSB,Christiansted Harbor Seaplane Base,Christiansted,VI
427,UST,Northeast Florida Regional,St. Augustine,FL
428,VIS,Visalia Municipal,Visalia,CA
429,WRL,Worland Municipal,Worland,WY
430,YNG,Youngstown-Warren Regional,Youngstown/Warren,OH

In [ ]:
df_airlines